/* style.css */

.container {
  max-width: 94%;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  text-align: left;
  align-items: center;
}

.post-detail {
  background-color: #f9f9f90a;
  border: 6px solid #f7f6f6;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(140, 140, 168, 0.082) 0px 13px 27px -5px,
    rgba(182, 172, 172, 0.137) 0px 8px 16px -8px;
}

.post-title {
  color: #333;
}

.post-info {
  margin-bottom: 15px;
}

.post-info strong {
  color: #007bff;
}

.comments {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comment strong {
  color: #333;
}
